// Variables

// Primary
$primary: hsl(171, 66%, 44%);
$secondary: hsl(233, 100%, 69%);
$neutral: hsl(210, 10%, 33%);
$neutral-light: hsl(201, 11%, 66%);

// font-size
$base-font-size: 18px;

// font-family
$main-font-family: "Bai Jamjuree", sans-serif;

// font-weights
$base-font-weight: 400;
$strong-font-weight: 600;

// padding
$base-padding: 0.25rem;

// margin
$base-margin: 0.25rem;

// screen sizes
$mobile-screen-size: 375px;
$desktop-screen-size: 1440px;
