@import "../partials/variables";
@import "../partials/breakpoints";

.btn-gradient {
  width: fit-content !important;
  background: linear-gradient(90deg, $cyan-btn-gradient, $blue-btn-gradient);
  padding: 0.75rem 5rem !important;
  white-space: nowrap;
  transition: 0.2s;

  &:hover {
    filter: brightness(1.8);
  }
}

.btn-early {
  @extend .btn-gradient;
  padding: 0.75rem 1.5rem !important;
  width: 100% !important;

  @include md {
    width: fit-content !important;
  }
}

.btn {
  &:focus {
    box-shadow: none !important;
  }
}
