html,
body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

#navbar {
  height: fit-content;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#navbar a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 20px 15px;
  font-size: 26px;
  transition: 500ms;
}
#navbar a:hover {
  color: rgb(73, 73, 73);
  background-color: rgb(224, 224, 224);
}
#welcome-section {
  background-color: #333;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-text {
  width: fit-content;
  color: white;
  padding: 40px;
  text-align: center;
  margin-top: 50px;
}
#welcome-text h1,
h2,
h3 {
  margin-top: 2px;
  margin-bottom: 2px;
}

#welcome-text h1 {
  font-size: 60px;
}

#welcome-text h2 {
  font-size: 45px;
}
#welcome-text h3 {
  font-size: 30px;
}

#welcome-text p {
  margin-top: 70px;
  font-size: 50px;
  animation: down-arrow 2s ease-in-out infinite;
}

@keyframes down-arrow {
  50% {
    transform: translateY(50px);
  }
}

#welcome-text p a {
  text-decoration: none;
  color: inherit;
  padding: 8px;
}
#projects {
  padding: 20px;
  margin-top: 40px;
}
#projects h2 {
  text-align: center;
  font-size: 40px;
}

.project-tiles-wrapper {
  padding: 20px 0px;
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  margin: 0px auto;
}

/* width */
.project-tiles-wrapper::-webkit-scrollbar {
  height: 14px;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.project-tile {
  background-color: #111;
  width: fit-content;
  padding: 20px;
  text-align: center;
  margin-right: 20px;
  transition: background-color 1s;
}
.project-tile:hover {
  background-color: rgb(63, 59, 73);
  cursor: pointer;
}

.project-tile img {
  height: 100%;
  max-height: 300px;
  width: auto;
}

.project-tile h3 {
  margin-top: 10px;
  color: white;
}

#preview {
  width: 95%;
  height: 100vh;
  padding: 0px;
  margin: 20px auto;
}
.website-preview {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.website-preview h3 {
  font-size: 40px;
  margin-bottom: 3px;
}
.website-preview h4 {
  margin-top: 12px;
  font-size: 23px;
}
.website-preview a {
  text-decoration: none;
  color: rgb(0, 140, 221);
}
.website-preview a:hover {
  color: rgb(0, 162, 255);
}

footer {
  height: fit-content;
  width: 100%;
  padding: 3px 0px;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

footer a {
  color: white;
  font-size: 1.4em;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

footer a:hover {
  color: rgb(200, 200, 200);
}

@media only screen and (min-width: 1225px) {
  footer a {
    font-size: 1.5em;
  }
  #navbar a {
    font-size: 23px;
  }

  #welcome-text h1 {
    font-size: 65px;
  }

  #welcome-text h2 {
    font-size: 50px;
  }
  #welcome-text h3 {
    font-size: 35px;
  }

  #welcome-text p {
    font-size: 65px;
  }

  #projects h2 {
    font-size: 50px;
  }
  .website-preview h3 {
    font-size: 40px;
  }
  .website-preview h4 {
    font-size: 25px;
  }
  .project-tile img {
    max-height: 350px;
  }
  .project-tile h3 {
    font-size: 26px;
  }
  .project-tiles-wrapper {
    width: 90%;
  }
  /* width */
  .project-tiles-wrapper::-webkit-scrollbar {
    height: 15px;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 15px;
  }
  #preview {
    width: 80%;
  }
}
