// Variables

// Colors
$primary-text: white;

$intro-bg: hsl(217, 28%, 15%);
$main-bg: hsl(218, 28%, 13%);
$footer-bg: hsl(216, 53%, 9%);
$testimon-bg: hsl(219, 30%, 18%);

$cyan-btn-gradient: hsl(176, 68%, 64%);
$blue-btn-gradient: hsl(198, 60%, 50%);
$light-red-error: hsl(0, 100%, 63%);
// font-size
$base-font-size: 18px;

// font-family
$main-font-family: "Bai Jamjuree", sans-serif;

// font-weights
$base-font-weight: 400;
$strong-font-weight: 600;

// padding
$base-padding: 0.25rem;

// margin
$base-margin: 0.25rem;

// screen sizes
$mobile-screen-size: 375px;
$desktop-screen-size: 1440px;
