@import "../partials/variables";
@import "../partials/breakpoints";

footer.footer {
  color: white;
  background-color: $neutral-footer-background;
  width: 100%;
  border-top-right-radius: 100px;
  padding: 20px 50px;
  margin-top: 90px;

  @include lg {
    border-top-right-radius: 50px;
    padding: 50px 100px;
  }

  .footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;

    box-sizing: border-box;

    @include lg {
      flex-direction: row;
      border-top-right-radius: 50px;
      justify-content: start;
      align-items: start;
      padding: 0px 0px;
      max-width: 1400px;
    }

    @include xl {
      margin-left: auto;
      margin-right: auto;
    }

    .footer-col {
      display: flex;
      flex-direction: column;
      place-items: center;
      font-family: "Overpass", sans-serif;

      margin: 10px 0px;

      @include lg {
        flex: 1;
        place-items: start;
      }

      &:last-child {
        margin-bottom: 20px;
      }

      .logo {
        margin-top: 20px;
        margin-bottom: 50px;
        height: 100%;
        width: auto;
      }

      h3 {
        color: #ccc;
        font-size: 20px;

        @include xl {
          font-size: 32px;
        }
      }
      a {
        font-family: "Ubuntu", sans-serif;
        color: #aaa;
        text-decoration: none;
        padding: 6px 0px;
        font-size: 18px;

        &:hover {
          color: #ddd;
          text-decoration: underline;
        }

        @include xl {
          font-size: 24px;
        }
      }
    }
  }
}
