//  colors
$primary-text: hsl(356, 100%, 66%);
$primary-hover-bg: hsl(355, 100%, 74%);
$primary-headings: hsl(208, 49%, 24%);
$primary-headings-hover: rgb(116, 138, 158);

$neutral-text: hsl(0, 0%, 100%);
$neutral-footer-text: hsl(240, 8%, 93%);
$neutral-body-copy: hsl(207, 13%, 34%);
$neutral-footer-background: hsl(240, 10%, 16%);

$text-dark-bg: hsl(240, 8%, 73%);
$text-light-bg: hsl(207, 13%, 50%);
// background colors
//  Intro/CTA mobile nav:
$bg-gradient-very-light-red: hsl(13, 100%, 72%);
$bg-gradient-light-red: hsl(353, 100%, 62%);

//  body:
$bg-gradient-body-gray-blue: hsl(237, 17%, 21%);
$bg-gradient-dark-blue: hsl(237, 23%, 32%);

// font size
$base-font-size: 16px;
