@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins font import from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
}

#loader{
animation: loaderAnimation 1s ease-in forwards;
animation-delay: 1.5s;
}


@keyframes loaderAnimation {
  0% {
    opacity: 1;   
    z-index: 50;
  }
  100%{
    opacity: 0;
    z-index: -1;
    display: hidden;
  }
}

.parallax-bg{
  @apply relative w-full md:bg-fixed h-[600px] md:h-screen bg-[url('./images/bg/16.jpg')] bg-cover bg-no-repeat bg-center flex justify-center items-center;
}

.btn-primary {
  @apply text-white font-semibold h-[49px] px-5 md:px-[46px] rounded-full bg-black w-fit cursor-pointer tracking-[1.8px] md:tracking-[2.8px] leading-[0.8px] hover:bg-primary transition duration-200 ease-in text-sm uppercase;
}

.nav-button {
  @apply block tracking-[1px] md:tracking-[2.8px] md:text-sm py-[20px] md:py-[0px] md:mb-[20px] hover:text-primary md:hover:text-white md:opacity-20 transition duration-150 ease-linear uppercase border-b-2 border-[#272727] text-right ml-[30px] pr-[50px] md:pr-[0px] w-[80%] md:w-fit md:ml-0 font-bold md:border-0 md:text-left
  after:md:content-[''] after:md:block after:md:ml-auto after:md:border-t-2 after:md:w-10 after:md:h-3 after:md:transition-all after:md:duration-300 after:md:mt-3;
}

.nav-button.active{
  @apply text-primary md:text-white md:opacity-100 after:md:w-32;
}

.nav-button:hover{
  @apply text-primary md:text-white md:opacity-100 after:md:w-32;
}

@keyframes width {
  0% {
    top: -72px;
  }
  100%{
    top: 0px;
  }
}

.scrolled-navbar{
  @apply bg-white;
  animation: slideNavbar 1s forwards;
  box-shadow: 0 -2px 19px 0px white;
}


@keyframes slideNavbar {
  0% {
    top: -72px;
  }
  100%{
    top: 0px;
  }
}
.scrolled-navbar img{
  content:url("./images/flogo.png");
}

.scrolled-navbar .toggle-menu span{
  @apply bg-black;
}

.to-button-effect{
  animation: buttonEffect 1s forwards;
}

@keyframes buttonEffect {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}

.to-button-effect i{
  animation: buttonArrowEffect 0.75s forwards;
}

@keyframes buttonArrowEffect {
  0% {
    top: -15px;
    opacity: 0;
  }
  100%{
    top: 2px;
    opacity: 100;
  }
}

.intro {
  height: calc(100vh - 72px);
  margin-top: 72px;
}

.side-menu.closed {
  transform: translateX(0px);
}

.side-menu.opened {
  transform: translateX(-18rem);
}

@media screen and (min-width: 768px) {
  .side-menu.opened {
    transform: translateX(0px);
  }
}

.social-media-box a{ 
  @apply bg-black w-10 h-10 transition duration-300 leading-[42px] text-[14px] md:mr-[11px] mr-2 text-center rounded-full;
}

/* Footer */
.social-media-footer a i{ 
  @apply text-white hover:text-primary transition duration-300 text-[28px] mr-6;
}